<div class="cover">

    <div class="card-style">
     
    <mat-card>
    
    
    
      
    
    <form  #loginForm="ngForm" >
    
      <img src="../../../assets/images/MifosX_logo.png" alt="No Image found">
      <mat-form-field>
          <input [(ngModel)]="username" name="username" required matInput placeholder="Username">
        </mat-form-field>
          <button  mat-raised-button color="primary" (click)="login()">Send Reset Link</button>
          <button mat-stroked-button color="accent">Go back to Login</button>
    
    
    </form>
    </mat-card> 
    </div>
    </div>
    