mat-card{
    margin : 20px;
}
.button-style{
width : 100%;
}
.radio-style{
    display: block;
}
.answer-style{
    color: green;
    margin-left: 25px;
}
.review-button{
    width: 100%;
    margin: 10px 15px;
}
.form-inner{
    margin-left: 30px;
}
mat-form-field{
    width : 500px;
    margin : auto;
}