mat-card{
    margin : 20px;
}
.button-style{
    display: block;
    margin:auto;
width : 50%;
}
.radio-style{
    display: block;
}
.answer-style{
    color: green;
    margin-left: 25px;
    font-size: 15px;
}
.review-button{
    width: 100%;
    margin: 10px 15px;
}
.form-inner{
    margin-left: 30px;
}
mat-form-field{
    width : 500px;
    margin : auto;
}
table {
   
    margin : auto;
    width: 90%;
  }
  .question{
      font-size: 20px;
  }
  .answers{
      font-size: 15px;
  }