
<mat-card *ngIf="!inProcess">
    <mat-form-field>
        <mat-label>Survey</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="button-style" (click)="onTakeSurvey()" class="button-style" mat-raised-button color="primary">Take Survey</button>
</mat-card>


<mat-card *ngIf="!isReview && inProcess">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="secondFormGroup" *ngFor="let question of questions">
      <form>
        <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
        <mat-card>Question {{question}}</mat-card>
        <div class="form-inner">
 
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="radio-style" value="1">Option 1</mat-radio-button>
            <mat-radio-button class="radio-style" value="2">Option 2</mat-radio-button>
          </mat-radio-group>

                   
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
                <button class="button-style" mat-raised-button color="primary" matStepperPrevious>Back</button>

            </div>
            <div class="col-md-6">
                <button class="button-style" mat-raised-button color="primary" matStepperNext>Next</button>

              </div>
              <div *ngIf="question==26" class="col-md-12" class="review-button">
                  <button (click)="onReview()" class="button-style" mat-raised-button color="accent">Review</button>
    
                </div>    
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  
</mat-card>



<mat-card *ngIf="isReview">
  <div *ngFor="let question of questions">

  <mat-card>
    <h3>Question {{question}}</h3>
  </mat-card>

  <div class="answer-style">
    Answer {{question}}
  </div>
      
</div>
<div class="row">
    <div class="col-md-6">
        <button (click)="onEdit()" class="button-style" mat-raised-button color="primary">Edit</button>

    </div>
    <div class="col-md-6">
        <button (click)="onSubmit()" class="button-style" mat-raised-button color="primary">Submit</button>

      </div> 
  </div>
</mat-card>
