<div class="row">
  <div class="col-md-4">
    <mat-card >
     <p style="color:black" id="profile-background">  Welcome, Smith R </p>
     <mat-card-header>

     </mat-card-header>
     <mat-card-content>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo debitis atque, vero eius eveniet ullam quam error voluptas ea placeat iste tempore nesciunt officiis delectus iusto! Tempore ducimus tempora maxime vitae porro saepe natus a quam possimus consequuntur beatae reprehenderit, fugiat repudiandae odit voluptates praesentium aliquid? Quis repudiandae repellat beatae doloremque accusamus molestiae, earum dignissimos eos id totam reprehenderit commodi, voluptatibus suscipit veritatis. Asperiores magni facere libero cum aliquam repellendus recusandae magnam aliquid laudantium hic enim deleniti nobis repellat, sunt suscipit. Odio amet illum possimus dicta unde repellat cupiditate nihil modi eum quod, necessitatibus quisquam dolorem a nam eligendi dolor.
     </mat-card-content>
     <mat-card-actions>
        <div class="row">
            <div class="col-md-6">
               <button class="button-width" mat-raised-button color="accent">Add to pocket</button>
              </div>
            <div class="col-md-6">
                <button class="button-width" mat-raised-button color="primary">Make Payment</button>
            </div>
          </div>
     </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-8">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="First">
          <mat-list>
            <mat-list-item> Test </mat-list-item>
            <mat-list-item> Test </mat-list-item>
            <mat-list-item> Test </mat-list-item>
           </mat-list>
        </mat-tab>
        <mat-tab label="Second"> 
            <mat-list>
                <mat-list-item> Test </mat-list-item>
                <mat-list-item> Test </mat-list-item>
                <mat-list-item> Test </mat-list-item>
               </mat-list> </mat-tab>
        <mat-tab label="Third"> 
            <mat-list>
                <mat-list-item> Test </mat-list-item>
                <mat-list-item> Test </mat-list-item>
                <mat-list-item> Test </mat-list-item>
               </mat-list>
        </mat-tab>
      </mat-tab-group>
      </mat-card>
  </div>
</div>
