mat-card{
    margin-top : 10px;
}
.header{
    color: gray;
    font-weight: bold;
    font-size: 25px;        
}
.delete{
    font-size : 15px;
    color : red;
    margin : 2px;
}
.gotoright{
    float :  right;
}
#warning-message{
    color:red;
}
